#app {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-feature-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  margin-top: 60px;
}
body{
  background-color: brown;
}