html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

:root{
--black: #000; 
--grey: #393d44;
--white: rgb(255, 255, 255); 
--grey2: #444547;
--lightgrey: rgb(201, 198, 198);
--darkgrey: rgb(122, 120, 120);
--primary: var(--white);
--secondary: var(--black);
--box: var(--lightgrey)

}
.light{
--primary: var(--white)
--secondary: var(--black)
--box: var(--lightgrey)
}
.dark{
--primary: var(--black)
--secondary: var(--white)
--box: var(--grey2)

}

#Content{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: var(--primary);
}
.ARset {
  border-width: 15px;
  border-style: solid;
  border-color: var(--darkgrey);
  border-radius: 10px;
  width: 20%;
  height: 100%;
  margin: 30px;
  padding-top:10px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--box);
  color: var(--secondary);
}
